@import "./variables.scss";

.header {
  height: 100vh;

  &-top {
    display: flex;
    align-items: center;
    padding-top: 30px;
    font-family: "Nunito Sans Regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    position: fixed;
    width: 100%;
    gap: 860px;
    z-index: 102;
  }

  &-top__logo {
    cursor: pointer;
  }

  &-top__list {
    display: flex;
    gap: 50px;
  }

  &-top__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &-bottom {
    display: flex;
    position: relative;
    padding-top: 210px;
  }

  &-bottom__phone {
    z-index: -1;
    position: absolute;
    right: 120px;
    top: 763px;
    transform: scale(0.9);
    animation: phone-animation 1s cubic-bezier(0, 1, 0.5, 1) forwards;
    will-change: transform;
  }

  &-bottom__img {
    position: absolute;
    right: -153px;
    top: 150px;
    z-index: -2;
    animation: header-img 2s ease forwards;
  }

  &-bottom__title {
    @extend %title-text;
    padding-bottom: 68px;
  }

  &-bottom__text {
    font-family: "Nunito Sans Regular";
    font-size: 22px;
    line-height: 30px;
    width: 466px;
    padding-bottom: 36px;
  }

  &-bottom__btn {
    display: flex;
    gap: 20px;
  }
}

@keyframes phone-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-578px);
  }
}

@keyframes header-img {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}