@font-face {
  font-family: "Nunito Sans Regular";
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans Light";
  src: url(../fonts/NunitoSans_10pt-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans Bold";
  src: url(../fonts/NunitoSans_10pt-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans Black";
  src: url(../fonts/NunitoSans_10pt-Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Druk-Medium";
  src: url(../fonts/DrukWideCyWebMediumRegular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "DrukCyr-Heavy";
  src: url(../fonts/DrukCyr-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "PT Serif Bold";
  src: url(../fonts/PTSerif-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "PoetsenOne Regular";
  src: url(../fonts/PoetsenOne-Regular.ttf);
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
  scroll-behavior: smooth;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

img {
  display: block;
}

.btn-left {
  width: 260px;
  height: 50px;
  background: rgb(255, 68, 96);
  border-radius: 12px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans SemiBold";
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
}

.pay__text--2, .title-gradient {
  background: linear-gradient(134.12deg, rgb(255, 68, 96), rgb(173, 0, 255), rgb(49, 206, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner__title, .pay__title, .activity__title, .how-work__title, .your-man__title {
  font-family: "Druk-Medium";
  font-size: 50px;
  line-height: 50px;
}

section {
  position: relative;
}

.scroll-container {
  scroll-behavior: smooth;
}

header > .arrow__g,
section > .arrow__g {
  position: absolute;
  bottom: 30px;
  left: 200px;
  cursor: pointer;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.btn-right {
  width: 260px;
  height: 50px;
  background: rgb(250, 251, 252);
  border-radius: 12px;
  border: none;
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans SemiBold";
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
}

.your-man {
  background-image: url("../images/your-man__cool-man.png");
  background-color: rgb(81, 81, 81);
  scroll-snap-align: start;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 150%;
  background-size: contain;
}
.your-man__title {
  color: rgb(255, 255, 255);
  padding-bottom: 64px;
  padding-top: 210px;
}
.your-man__text {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans Regular";
  font-size: 22px;
  line-height: 30px;
  width: 466px;
}
.your-man #Vector {
  fill: rgb(250, 251, 252);
}
.your-man .arrow__g {
  bottom: 20px;
}

.how-work {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.how-work__title {
  padding-bottom: 74px;
  padding-top: 210px;
}
.how-work__text {
  font-family: "Nunito Sans Regular";
  font-size: 22px;
  line-height: 30px;
  width: 466px;
  padding-bottom: 43px;
}
.how-work__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.how-work__right {
  overflow: hidden;
}
.how-work__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.activity {
  height: 100vh;
  background: linear-gradient(90deg, white 50%, rgb(237, 230, 167) 50%);
  overflow: hidden;
}
.activity__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 210px;
}
.activity__title {
  padding-bottom: 74px;
}
.activity__text {
  font-family: "Nunito Sans Regular";
  font-size: 22px;
  line-height: 30px;
  width: 466px;
  padding-bottom: 43px;
}
.activity__right {
  font-family: "Druk-Medium";
  font-size: 50px;
  line-height: 50px;
  color: white;
  padding-left: 110px;
  position: relative;
}
.activity__right-img {
  position: absolute;
  right: -305px;
  bottom: -240px;
  transform: scale(0.8);
}

.pay {
  height: 100vh;
}
.pay__wrapper {
  display: flex;
}
.pay__left {
  background-color: rgb(217, 217, 217);
  height: 100vh;
  width: 710px;
  position: relative;
  z-index: 1;
}
.pay__left::before {
  content: "";
  background-image: url("../images/girl.png");
  position: absolute;
  left: -305px;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.pay__left #Vector {
  fill: rgb(250, 251, 252);
}
.pay__left .arrow__g {
  z-index: 2;
}
.pay__title {
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 680px;
  margin: 0 auto;
  max-width: 313px;
}
.pay__right {
  padding-top: 210px;
  padding-left: 140px;
}
.pay__box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pay__text {
  font-family: "Nunito Sans Bold";
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 2px;
}
.pay__text--2 {
  font-family: "Nunito Sans Bold";
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
}
.pay__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pay__list-item {
  display: flex;
  gap: 9px;
  align-items: center;
}
.pay__list-text {
  font-family: "Nunito Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.pay__price-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 55px;
}
.pay__price-list-item {
  background-color: rgb(250, 251, 252);
  border-radius: 12px;
  padding: 14px 15px 16px;
  cursor: pointer;
  position: relative;
}
.pay__price-list-item-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pay__inner {
  max-width: 370px;
}
.pay__price-list-item-box-text {
  font-family: "Nunito Sans SemiBold";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.pay__price-list-item-box-text-2 {
  color: rgb(145, 154, 182);
  font-family: "Nunito Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.pay__price-list-item-box-text-2--red {
  color: rgb(255, 68, 96);
  font-family: "Nunito Sans Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.pay__price-list-item-box-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pay__btn {
  width: 370px;
  height: 50px;
  border-radius: 12px;
  background-color: rgb(255, 68, 96);
  border: none;
  color: white;
  font-family: "Nunito Sans SemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.partner {
  height: 100vh;
  background: linear-gradient(110deg, rgb(0, 0, 0), rgb(66, 66, 71));
}
.partner__wrapper {
  background-image: url("../images/hands.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: inherit;
  background-size: contain;
}
.partner__title {
  color: rgb(255, 255, 255);
  padding: 210px 0 59px;
}
.partner__text {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  width: 466px;
  padding-bottom: 36px;
}
.partner #Vector {
  fill: rgb(250, 251, 252);
}
.partner .arrow {
  transform: rotate(180deg);
}

/*# sourceMappingURL=index.css.map */
