.how-work__wrapper {
    position: relative;

    & .slick-dots {
        position: absolute;
        left: 130px;
        bottom: 60px;
    }

    & .slick-track {
        max-width: 370px;
        will-change: transform;
        display: flex;
        align-items: flex-start;
        min-width: 0;
    }

    & .slick-slide {
        height: 100vh;
        min-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .how-work__img {
        transform: translateY(282px);
    }

    & .how-work__right {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.slider__how-work {

    & .slick-dots {
        display: flex;
        gap: 5px;
        padding-top: 6px;


        & li {
            width: 64px;
            height: 4px;
            border-radius: 9px;
            background: rgb(179, 186, 207);
            opacity: 0.25;

            //вынужденная мера Т_Т
            & button[id^="slick-slide-control"] {
                display: none;
            }
        }

        & .slick-active {
            background: rgb(179, 186, 207);
            opacity: 1;
        }
    }

    & .slick-list {
        min-height: 100%;
    }



}