@font-face {
  font-family: "Nunito Sans Regular";
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nunito Sans Light";
  src: url(../fonts/NunitoSans_10pt-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Nunito Sans SemiBold";
  src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans Bold";
  src: url(../fonts/NunitoSans_10pt-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans Black";
  src: url(../fonts/NunitoSans_10pt-Black.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Druk-Medium";
  src: url(../fonts/DrukWideCyWebMediumRegular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "DrukCyr-Heavy";
  src: url(../fonts/DrukCyr-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "PT Serif Bold";
  src: url(../fonts/PTSerif-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "PoetsenOne Regular";
  src: url(../fonts/PoetsenOne-Regular.ttf);
  font-weight: 400;
}
.sign-in .login {
  font-size: 16px;
  padding: 10px 161px;
  border-radius: 12px;
  background: rgb(255, 68, 96);
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans Regular";
}

.sign-in .toggle-element {
  width: 50px;
  height: 30px;
  position: relative;
  border-radius: 50px;
  background: rgb(179, 186, 207);
  opacity: 0.3;
}
.sign-in .toggle-element .toggle-element__cirlce {
  position: absolute;
  width: 24px;
  height: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: transform 1s;
}
.sign-in .toggle-element input[type=checkbox] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  appearance: none !important;
}
.sign-in .toggle-element .animation-toggle {
  transform: translateX(20px);
}

@scope (.modal-signIn-container) {
  input {
    border-radius: 12px;
    background: rgb(250, 251, 252);
    padding: 34px 42px 16px 15px;
    border-radius: 12px;
    font-size: 16px;
    transition: transform 600s;
  }
  p {
    margin-bottom: 25px;
    font-family: "Nunito Sans Bold";
    font-size: 24px;
    line-height: 33px;
  }
  label {
    position: absolute;
    top: 24px;
    left: 15px;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Nunito sans Regular";
    color: rgb(145, 154, 182);
  }
}
.sign-in .modal-signIn-container {
  color: rgb(4, 36, 43);
  position: relative;
  padding: 30px;
  box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
  background-color: white;
  max-width: 430px;
  min-width: 430px;
  border-radius: 20px;
}
.sign-in #sign-in {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sign-in .form-item {
  position: relative;
}
.sign-in .form-item-input:focus ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.sign-in .form-item-input:not(:focus):user-invalid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.sign-in .form-item-input:not(:focus):user-valid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.sign-in .pass-icon {
  position: absolute;
  top: 28px;
  right: 15px;
}
.sign-in #close-modal {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}
.sign-in .toggle-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 15px 16px 16px;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  transition: opacity 1s;
}
.sign-in .toggle-info {
  display: flex;
  align-items: center;
  font-family: "Nunito Sans Regular";
  font-size: 16px;
}
.sign-in .toggle-element__cirlce {
  z-index: 1;
}
.sign-in .login {
  margin-bottom: 10px;
}
.sign-in .restore {
  color: rgb(255, 68, 96);
  font-family: "Nunito Sans Regular";
  line-height: 22px;
  margin: 0 auto;
  text-decoration: none;
}
.sign-in input[type=checkbox] {
  background-color: transparent;
}

/*# sourceMappingURL=sign-in.css.map */
