.slide__thanks-for button, .slide__sign-up button, .slide__important-documents button, .slide__happybirthday button, .slide__choose-name button, .slide__who-find .next, .button-container button {
  font-size: 16px;
  padding: 10px 161px;
  border-radius: 12px;
  background: rgb(255, 68, 96);
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans Regular";
}

.slide__who-find .toggle-element {
  width: 50px;
  height: 30px;
  position: relative;
  border-radius: 50px;
  background: rgb(179, 186, 207);
  opacity: 0.3;
}
.slide__who-find .toggle-element .toggle-element__cirlce {
  position: absolute;
  width: 24px;
  height: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: transform 1s;
}
.slide__who-find .toggle-element input[type=checkbox] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  appearance: none !important;
}
.slide__who-find .toggle-element .animation-toggle {
  transform: translateX(20px);
}

#modal-signUp {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  overflow: hidden;
  padding: 0;
  height: 100vh;
  z-index: 200;
}

#modal-signUp-container {
  position: relative;
}

#close-modal {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.slick-dots {
  display: flex;
  gap: 5px;
  padding-top: 6px;
}
.slick-dots li {
  width: 64px;
  height: 4px;
  border-radius: 9px;
  background: rgb(179, 186, 207);
  opacity: 0.25;
}
.slick-dots li button[id^=slick-slide-control] {
  display: none;
}
.slick-dots .slick-active {
  background: rgb(179, 186, 207);
  opacity: 1;
}

.slick-list {
  min-height: 100%;
}

.slick-track {
  max-width: 370px;
  will-change: transform;
  display: flex;
  align-items: flex-start;
  min-width: 0;
}

.modal-signUp__slick {
  display: flex;
  flex-direction: column-reverse;
  padding: 30px;
  gap: 40px;
  box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
  background-color: white;
  max-width: 430px;
  border-radius: 20px;
}

.slide__choose-sex {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Regular";
}
.slide__choose-sex b {
  font-size: 24px;
  line-height: 33px;
  display: block;
  margin-bottom: 30px;
  font-family: "Nunito Sans Bold";
}
.slide__choose-sex p {
  font-size: 17px;
  line-height: 25px;
}
.slide__choose-sex span {
  display: block;
  font-size: 17px;
  padding: 36px 0 24px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1px;
  border-radius: 12px;
}
.button-container button {
  padding: 10px 54px;
}
.button-container .slick-arrow {
  border-radius: 12px 0 0 12px;
}
.button-container .slick-arrow:last-child {
  border-radius: 0 12px 12px 0;
}

.slide__who-find {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Regular";
}
.slide__who-find p:first-child {
  font-size: 24px;
  line-height: 33px;
  width: max-content;
  margin-bottom: 25px;
  font-family: "Nunito Sans Bold";
}
.slide__who-find .choose {
  display: flex;
  flex-direction: column;
  min-width: 0;
  gap: 15px;
  margin-bottom: 20px;
}
.slide__who-find .toggle-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 15px 16px 16px;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  transition: opacity 1s;
}
.slide__who-find .toggle-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.slide__who-find .toggle-element__cirlce {
  z-index: 1;
}
.slide__choose-name {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Bold";
}
.slide__choose-name p {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 33px;
}
.slide__choose-name input[name=name] {
  padding: 34px 42px 16px 15px;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  color: rgb(4, 36, 43);
  font-size: 16px;
  margin-bottom: 20px;
  transition: transform 600ms;
}
.slide__choose-name .input-container {
  position: relative;
  font-family: "Nunito Sans Regular";
}
.slide__choose-name label {
  display: inline-block;
  position: absolute;
  color: rgb(145, 154, 182);
  font-family: inherit;
  left: 15px;
  top: 24px;
  bottom: 26px;
  transition: 600ms;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}
.slide__choose-name input[name=name]:focus ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__choose-name input[name=name]:not(:focus):valid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__happybirthday p {
  margin-bottom: 25px;
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Bold";
  font-size: 24px;
  line-height: 33px;
}
.slide__happybirthday .happybirthday__input-container {
  position: relative;
  font-family: "Nunito Sans Regular";
}
.slide__happybirthday #text-date {
  padding: 34px 42px 16px 15px;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  color: rgb(4, 36, 43);
  font-size: 16px;
  margin-bottom: 20px;
  transition: transform 600ms;
}
.slide__happybirthday #text-date:focus ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__happybirthday #text-date:not(:focus):valid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__happybirthday #date {
  position: absolute;
  right: 15px;
  top: 26px;
  background-image: url("../images/date-icon.svg");
  width: 18px;
  height: 17px;
}
.slide__happybirthday #date input[type=date] {
  opacity: 0;
}
.slide__happybirthday label {
  display: inline-block;
  position: absolute;
  color: rgb(145, 154, 182);
  font-family: inherit;
  left: 15px;
  top: 24px;
  bottom: 26px;
  transition: 600ms;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}
.slide__important-documents {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Regular";
}
.slide__important-documents p {
  font-size: 24px;
  margin-bottom: 30px;
}
.slide__important-documents strong {
  line-height: 25px;
  margin-bottom: 37px;
  display: block;
}
.slide__important-documents .document-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  padding: 15px 15px 13px 18px;
  margin-bottom: 20px;
  position: relative;
}
.slide__important-documents .document-container::before {
  content: "";
  position: absolute;
  height: 1px;
  background: rgb(236, 239, 248);
  left: 0;
  right: 0;
  top: 50%;
}
.slide__important-documents .document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slide__important-documents .document-item:first-child {
  padding-bottom: 15px;
}
.slide__important-documents .document-item:last-child {
  padding-top: 15px;
}
.slide__important-documents .document-info {
  display: flex;
  gap: 13px;
  align-items: center;
}
.slide__important-documents button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.slide__sign-up {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Regular";
}
.slide__sign-up p {
  font-size: 24px;
  margin-bottom: 30px;
}
.slide__sign-up strong {
  display: block;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.slide__sign-up form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slide__sign-up .form-item {
  position: relative;
  border-radius: 12px;
  background: rgb(250, 251, 252);
}
.slide__sign-up .form-item-input {
  padding: 34px 42px 16px 15px;
  border-radius: 12px;
  background: rgb(250, 251, 252);
  color: rgb(4, 36, 43);
  font-size: 16px;
  transition: transform 600ms;
}
.slide__sign-up .pass-icon {
  position: absolute;
  right: 14px;
  top: 25px;
  cursor: pointer;
}
.slide__sign-up label {
  display: inline-block;
  position: absolute;
  color: rgb(145, 154, 182);
  font-family: inherit;
  left: 15px;
  top: 33%;
  transition: 600ms;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
}
.slide__sign-up .form-item-input:focus ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__sign-up .form-item-input:not(:focus):user-invalid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__sign-up .form-item-input:not(:focus):user-valid ~ label {
  font-size: 11px;
  transform: translateY(-12px);
}
.slide__thanks-for {
  color: rgb(4, 36, 43);
  font-family: "Nunito Sans Regular";
}
.slide__thanks-for p {
  font-size: 24px;
  margin-bottom: 30px;
}
.slide__thanks-for strong {
  display: block;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 39px;
}
.slide__thanks-for button {
  width: 372px;
  padding: 10px;
}

/*# sourceMappingURL=sign-up-modal.css.map */
