@font-face {
    font-family: "Nunito Sans Regular";
    src: url(../fonts/NunitoSans_10pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Nunito Sans Light";
    src: url(../fonts/NunitoSans_10pt-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Nunito Sans SemiBold";
    src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Nunito Sans Bold";
    src: url(../fonts/NunitoSans_10pt-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Nunito Sans Black";
    src: url(../fonts/NunitoSans_10pt-Black.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "DrukCyr-Medium";
    src: url(../fonts/DrukCyr-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "DrukCyr-Heavy";
    src: url(../fonts/DrukCyr-Heavy.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "PT Serif Bold";
    src: url(../fonts/PTSerif-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "PoetsenOne Regular";
    src: url(../fonts/PoetsenOne-Regular.ttf);
    font-weight: 400;
}


