@import "./fonts";
@import "./reset";
@import "./variables";

#modal-signUp {
    max-width: 430px;
    width: 430px;
    height: 320px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
    background: rgb(255, 255, 255);
    outline: none;
    padding: 30px;
}

#modal-signUp::backdrop {
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination__list {
    display: flex;
    gap: 5px;

    &-item {
        width: 64px;
        height: 4px;
        border-radius: 9px;
        background: rgb(179, 186, 207);
        opacity: 0.25;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
}

.title-gradient {
    @extend %title-gradient
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.btn-left {
    @extend %btn-try
}

.btn-right {
    width: 260px;
    height: 50px;
    background: rgb(250, 251, 252);
    border-radius: 12px;
    border: none;
    color: rgb(4, 36, 43);
    font-family: "Nunito Sans SemiBold";
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    gap: 9px;
    cursor: pointer;
}

.header {
    height: 100vh;

    &-top {
        display: flex;
        align-items: center;
        padding-top: 30px;
        font-family: "Nunito Sans Regular";
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        position: fixed;
        width: 100%;
        gap: 860px;
    }

    &-top__logo {
        cursor: pointer;
    }

    &-top__list {
        display: flex;
        gap: 50px;
    }

    &-top__list-item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &-bottom {
        display: flex;
        position: relative;
        padding-top: 210px;
    }

    &-bottom__phone {
        z-index: -1;
        position: absolute;
        right: 120px;
        top: 185px;
        transform: scale(.9);
    }

    &-bottom__img {
        position: absolute;
        right: -153px;
        top: 150px;
        z-index: -2;
    }

    &-bottom__title {
        font-family: "Druk-Medium";
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 68px;
    }

    &-bottom__text {
        font-family: "Nunito Sans Regular";
        font-size: 22px;
        line-height: 30px;
        width: 466px;
        padding-bottom: 36px;
    }

    &-bottom__btn {
        display: flex;
        gap: 20px;
    }
}

.your-man {
    background-image: url(../images/your-man__cool-man.png);
    background-color: rgb(81, 81, 81);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 150%;
    background-size: contain;

    &__title {

        font-family: "Druk-Medium";
        font-size: 50px;
        line-height: 50px;
        color: rgb(255, 255, 255);
        padding-bottom: 64px;
        padding-top: 210px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-family: "Nunito Sans Light";
        font-size: 20px;
        line-height: 30px;
        width: 466px;
    }
}

.how-work {
    height: 100vh;

    &__title {
        font-family: "Druk-Medium";
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 74px;
        padding-top: 210px;
    }

    &__text {
        font-family: "Nunito Sans Light";
        font-size: 20px;
        line-height: 30px;
        width: 466px;
        padding-bottom: 43px;
    }
}

.activity {
    height: 100vh;
    background: linear-gradient(90deg, white 50%, rgb(237, 230, 167) 50%);
    overflow: hidden;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 210px;
    }

    &__title {
        font-family: "Druk-Medium";
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 74px;
    }

    &__text {
        font-family: "Nunito Sans Light";
        font-size: 20px;
        line-height: 30px;
        width: 466px;
        padding-bottom: 43px;
    }

    &__right {
        font-family: "Druk-Medium";
        font-size: 50px;
        line-height: 50px;
        color: white;
        padding-left: 110px;
        position: relative;
    }

    &__right-img {
        position: absolute;
        right: -305px;
        bottom: -240px;
        transform: scale(.8);
    }

}