@import "./fonts";
@import "./reset";
@import "./variables";
@import "./sign-up";

#modal-signUp {
    max-width: 430px;
    width: 430px;
    height: 320px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
    background: rgb(255, 255, 255);
    outline: none;
    padding: 30px;
}

#modal-signUp::backdrop {
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.5);
}


.swiper-pagination__list {
    display: flex;
    gap: 5px;

    &-item {
        width: 64px;
        height: 4px;
        border-radius: 9px;
        background: rgb(179, 186, 207);
        opacity: 0.25;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
}