@import "./fonts";
@import "./reset";
@import "./variables";

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.header {
height: 100vh;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        font-family: "Nunito Sans Regular";
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    &__top-logo {
        cursor: pointer;
    }

    &__top-list {
        display: flex;
        gap: 50px;
    }

    &-top__list-item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &__bottom {
        display: flex;
        position: relative;
    }

    &__bottom-phone {
        padding-top: 120px;
        z-index: -1;
        position: absolute;
        right: 150px;
        top: -10px;
    }

    &__bottom-img {
        position: absolute;
        right: -142px;
        top: 100px;
        z-index: -2;
    }

    &__bottom-title {
        font-family: "DrukCyr-Medium";
        font-size: 123px;
        line-height: 130px;
        transform: scaleY(.5);

        &--gradient {
            background: linear-gradient(134.12deg, rgb(255, 68, 96), rgb(173, 0, 255), rgb(49, 206, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    &__bottom-text {
        font-family: "Nunito Sans Regular";
        font-size: 22px;
        line-height: 30px;
        width: 466px;
        padding-bottom: 36px;
    }

    &__bottom-btn {
        display: flex;
        gap: 20px;
    }
}

.btn__left {
    width: 260px;
    height: 50px;
    background: rgb(255, 68, 96);
    border-radius: 12px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Nunito Sans SemiBold";
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    cursor: pointer;
}

.btn__right {
    width: 260px;
    height: 50px;
    background: rgb(250, 251, 252);
    border-radius: 12px;
    border: none;
    color: rgb(4, 36, 43);
    font-family: "Nunito Sans SemiBold";
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    gap: 9px;
    cursor: pointer;
}

.arrow {
    padding-top: 175px;
    padding-bottom: 20px;
}

#modal-signUp {
    max-width: 430px;
    width: 430px;
    height: 320px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
    background: rgb(255, 255, 255);
    outline: none;
    padding: 30px;
}

#modal-signUp::backdrop {
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.5);
}


.swiper-pagination__list {
    display: flex;
    gap: 5px;

    &-item {
        width: 64px;
        height: 4px;
        border-radius: 9px;
        background: rgb(179, 186, 207);
        opacity: 0.25;
    }
}

.swiper-slide {
    display: flex;
    flex-direction: column;
}

.your-man {
    background-image: url(../images/your-man__cool-man.png);
    background-color: rgb(81, 81, 81);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 150%;
    background-size: contain;

    &__title {

        font-family: "DrukCyr-Medium";
        font-size: 123px;
        line-height: 130px;
        transform: scaleY(.5);
        padding-top: 47px;
        color: rgb(255, 255, 255);

        &-color {
            background: linear-gradient(134.12deg, rgb(255, 68, 96), rgb(173, 0, 255), rgb(49, 206, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        color: rgb(255, 255, 255);
        font-family: "Nunito Sans Light";
        font-size: 20px;
        line-height: 30px;
        width: 466px;
        padding-bottom: 40px;
    }
}

.all-arrow{
    cursor: pointer;
}

.how-work{
    height: 100vh;
    
}