@import "./variables";

#modal-signUp {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    backdrop-filter: blur(100px);
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    overflow: hidden;
    padding: 0;

}


#modal-signUp-container{
    position: relative;
}

#close-modal{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
}

.slick-dots{
    display: flex;
    gap: 5px;
    padding-top: 6px;


    & li{
        width: 64px;
        height: 4px;
        border-radius: 9px;
        background: rgb(179, 186, 207);
        opacity: 0.25;
        //вынужденная мера Т_Т
        & button[id^="slick-slide-control"]{
            display: none;
        }
    }

    & .slick-active{
        background: rgb(179, 186, 207);
        opacity: 1;
    }
}

.slick-list{
    min-height: 100%;
}


.slick-track{
    max-width: 370px;
    will-change: transform;
    display: flex;
    align-items: flex-start;
    min-width: 0;
}

.modal-signUp__slick{
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    gap: 40px;
    box-shadow: 0px 10px 50px 0px rgba(179, 186, 207, 0.2);
    background-color: white;
    max-width: 430px;
    border-radius: 20px;
}

.slide__choose-sex{
    
    & b{
        color: rgb(4, 36, 43);
        font-family: "Nunito Sans Bold";
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        display: block;
        margin-bottom: 30px;
    }

    & p{
        font-family: "Nunito Sans Regular";
        font-size: 17px;
        line-height: 25px;
    }

    & span{
        display: block;
        font-size: 17px;
        padding: 36px 0 24px;
    }

}

.button-container{
    display: flex;
    align-items: center;
    gap: 1px;

    & button{
        @extend %button-for-sign-up;
        padding: 10px 54px;
    }

    & button[data-choose="man"]{
        border-radius: 12px 0 0 12px;
    }

    & button[data-choose="girl"]{
        border-radius: 0 12px 12px 0;
    }
}

.slide__who-find{

    & p:first-child{
        color: rgb(4, 36, 43);
        font-family: "Nunito Sans Bold";
        font-size: 24px;
        line-height: 33px;
        width: max-content;
        margin-bottom: 25px;
    }

    .choose{
        display: flex;
        flex-direction: column;
        min-width: 0;
        gap: 15px;
        margin-bottom: 20px;
    }

    .toggle-item{
        display: flex;
        justify-content: space-between;
        padding: 14px 15px 16px 16px;
        border-radius: 12px;
        background: rgb(250, 251, 252);
        transition: opacity 1s;
    }

    .toggle-info{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .toggle-element{
        @extend %toggle-checkbox;
        &__cirlce{ z-index: 1; }
    }

    .next{
        @extend %button-for-sign-up;
    }

    
}


.slide__choose-name{
    
    & p{
        margin-bottom: 25px;
        color: rgb(4, 36, 43);
        font-family: "Nunito Sans Bold";
        font-size: 24px;
        line-height: 33px;
    }

    input[name="name"]{
        padding: 34px 42px 16px 15px;
        border-radius: 12px;
        background: rgb(250, 251, 252);
        color: rgb(4, 36, 43);
        font-size: 16px;
        margin-bottom: 20px;
        transition: transform 600ms;
    }

    .input-container{
        position: relative;
        font-family: "Nunito Sans Regular";
    }

    & label{
        display: inline-block;
        position: absolute;
        color: rgb(145, 154, 182);
        font-family: inherit;
        left: 15px;
        top: 24px;
        bottom: 26px;
        transition: 600ms;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
    }

    input[name="name"]:focus ~ label{
        font-size: 11px;
        transform: translateY(-12px);
    }

    input[name="name"]:not(:focus):valid ~ label{
        font-size: 11px;
        transform: translateY(-12px);
    }

    & button{
        @extend %button-for-sign-up;
    }
}

.slide__happybirthday{

    & p{
        margin-bottom: 25px;
        color: rgb(4, 36, 43);
        font-family: "Nunito Sans Bold";
        font-size: 24px;
        line-height: 33px;
    }

    .happybirthday__input-container{
        position: relative;
        font-family: "Nunito Sans Regular";
    }

    #text-date{
        padding: 34px 42px 16px 15px;
        border-radius: 12px;
        background: rgb(250, 251, 252);
        color: rgb(4, 36, 43);
        font-size: 16px;
        margin-bottom: 20px;
        transition: transform 600ms;
    }

    #text-date:focus ~ label{
        font-size: 11px;
        transform: translateY(-12px);
    }

    #text-date:not(:focus):valid ~ label{
        font-size: 11px;
        transform: translateY(-12px);
    }

    #date{
        position: absolute;
        right: 15px;
        top: 26px;
        background-image: url("../images/date-icon.svg");
        width: 18px;
        height: 17px;

        & input[type="date"]{ opacity: 0; }
    }

    & label{
        display: inline-block;
        position: absolute;
        color: rgb(145, 154, 182);
        font-family: inherit;
        left: 15px;
        top: 24px;
        bottom: 26px;
        transition: 600ms;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
    }

    & button{
        @extend %button-for-sign-up;
    }
}

.slide__important-documents{

    color: rgb(4, 36, 43);
    font-family: "Nunito Sans Regular";

    & p{
        font-size: 24px;
        margin-bottom: 30px;
    }

    & strong{
        line-height: 25px;
        margin-bottom: 37px;
        display: block;
    }

    .document-container{
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: rgb(250, 251, 252);
        padding: 15px 15px 13px 18px;
        margin-bottom: 20px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            height: 1px;
            background: rgb(236, 239, 248);
            left: 0;
            right: 0;
            top: 50%;
        }
    }

    .document-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .document-item:first-child{
        padding-bottom: 15px;
    }

    .document-item:last-child{
        padding-top: 15px;
    }

    .document-info{
        display: flex;
        gap: 13px;
        align-items: center
    }

    & button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        @extend %button-for-sign-up;
    }
}

.slide__sign-up{

    color: rgb(4, 36, 43);
    font-family: "Nunito Sans Regular";

    & p{
        font-size: 24px;
        margin-bottom: 30px;
    }

    & strong{
        display: block;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    & form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-item{
        position: relative;
        border-radius: 12px;
        background: rgb(250, 251, 252);
    }

    .form-item-input{
        padding: 34px 42px 16px 15px;
        border-radius: 12px;
        background: rgb(250, 251, 252);
        color: rgb(4, 36, 43);
        font-size: 16px;
        transition: transform 600ms;
    }

    .pass-icon{
        position: absolute;
        right: 14px;
        top: 25px;
        cursor: pointer;
    }
    

    & label{
        display: inline-block;
        position: absolute;
        color: rgb(145, 154, 182);
        font-family: inherit;
        left: 15px;
        top: 33%;
        transition: 600ms;
        pointer-events: none;
        white-space: nowrap;
        overflow: hidden;
    }

    .form-item-input:focus ~ label{
        font-size: 11px;
        transform: translateY(-12px)
    }

    .form-item-input:not(:focus):user-invalid ~ label{
        font-size: 11px;
        transform: translateY(-12px)
    }

    .form-item-input:not(:focus):user-valid ~ label{
        font-size: 11px;
        transform: translateY(-12px)
    }

    & button{
        @extend %button-for-sign-up;
    }
}

.slide__thanks-for{
    color: rgb(4, 36, 43);
    font-family: "Nunito Sans Regular";
    

    & p{
        font-size: 24px;
        margin-bottom: 30px;
    }

    & strong{
        display: block;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 39px;
    }

    & button{
        width: 372px;
        padding: 10px;
        @extend %button-for-sign-up;
    }
}