@font-face {
    font-family: "Nunito Sans Regular";
    src: url(../fonts/NunitoSans_10pt-Regular.ttf);
}
@font-face {
    font-family: "Nunito Sans Light";
    src: url(../fonts/NunitoSans_10pt-Light.ttf);
}
@font-face {
    font-family: "Nunito Sans SemiBold";
    src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
}
@font-face {
    font-family: "Nunito Sans Bold";
    src: url(../fonts/NunitoSans_10pt-Bold.ttf);
}
@font-face {
    font-family: "Nunito Sans Black";
    src: url(../fonts/NunitoSans_10pt-Black.ttf);
}
@font-face {
    font-family: "Druk Wide Medium";
    src: url(../fonts/DrukWide-Medium-Trial.woff2);
}
@font-face {
    font-family: "Druk Wide Heavy";
    src: url(../fonts/DrukWide-Heavy-Trial.woff2);
}
@font-face {
    font-family: "PT Serif Bold";
    src: url(../fonts/PTSerif-Bold.ttf);
}
@font-face {
    font-family: "PoetsenOne Regular";
    src: url(../fonts/PoetsenOne-Regular.ttf);
}


